<!DOCTYPE html>

<!-- HTML Template for the registration page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Font 1: Overpass -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Circuit!</h1>
    </header>
    <main>
        <h2>Register</h2>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Register</button>
            {% if error %}
                <p class="error">Username is taken. Try Again.</p>
            {% endif %}
        </form>
        <a href="{{ url_for('home') }}" id="register-link">Already have an account? Log in</a>
    </main>
</body>
</html>