
body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Overpass", sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 12vh;
}

header h1 {
    flex: 1 1 0%;
    min-width: 0;
    max-width: calc(25% + 5px);
}

#home-link {
    display: block;
    height: 90%;
    line-height: 11vh;
    font-size: 4.4rem;
    background-color: #007BFF;
    margin: 15px 25px 15px 35px;
    border-radius: 5px;
    text-align: center;
}

header a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

#header_space {
    flex: 2 1 0%;
}

#logout-link {
    padding: 10px 10px;
    border-radius: 5px;
    flex: 1 1 0%;
    max-width: 8%;
    align-self: center;
}


.layout {
    display: flex;
    width: 100%;
    height: 100%;
}

aside {
    flex: 1;
    margin: 10px;
    padding: 10px;
    padding-top: 0;
    background-color: #30302f;
    border-radius: 10px;
    text-align: center;
    height: 100%;
}

aside h2 {
    margin: 10px;
}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
    align-items: stretch;
}

.project_icons {
    flex: 1;
}

.project_icons a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: .5rem;
    color: white;
    box-sizing: border-box;
}

.project_icons a:hover {
    background-color: #121212;
}

main {
    flex: 3;
    margin: 10px;
    padding: 20px;
    background-color: #30302f;
    border-radius: 10px;
    text-align: center;
}

main h2 {
    margin: 30px;
    font-size: 1.6rem;
}

aside ul {
    padding: 0;
    margin-top: 5px;
}

.new_proj {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.new_proj:hover {
    background-color: #0056b3;
}


li {
    list-style-type: none;
}

.modal-content {
    color: black;
}

